@import "bulma";

article {
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "c c";
  grid-gap: 1rem;
}

.mobile-template article {
  grid-template-areas:
    "a a a"
    "b b b"
    "c c c";
}
