<section id="reseaux" class="section">
  <h1 class="title">Réseaux</h1>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">LinkedIn</p>
        <a href="https://www.linkedin.com/in/theo-ernould/" target="_blank">
          <box-icon type='logo' size='50px' name='linkedin-square'></box-icon>
        </a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">GitHub</p>
        <a href="https://github.com/theoernould" target="_blank">
          <box-icon type='logo' size='50px' name='github'></box-icon>
        </a>
      </div>
    </div>
  </nav>
</section>
