<div id="apropos" class="card has-background-info has-text-white">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure id="photo" class="image is-128x128">
          <img src="assets/photo.jpg" alt="Photo de Théo ERNOULD">
        </figure>
      </div>
      <div class="media-content">
        <div>
          <h1 class="title has-text-white has-text-weight-bold">Théo Ernould</h1>
          <h2 class="subtitle has-text-white">Apprenti Développeur FullStack</h2>
        </div>
        <nav class="level mt-5">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">LinkedIn</p>
              <a href="https://www.linkedin.com/in/theo-ernould/" target="_blank">
                <box-icon type='logo' size='50px' color="white" name='linkedin-square'></box-icon>
              </a>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">GitHub</p>
              <a href="https://github.com/theoernould" target="_blank">
                <box-icon type='logo' size='50px' color="white" name='github'></box-icon>
              </a>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Gitlab</p>
              <a href="https://gitlab.com/theoernould" target="_blank">
                <box-icon type='logo' size='50px' color="white" name='gitlab'></box-icon>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="content mt-5">
      <nav class="level">
        <div class="level-item">
          <div>
            <p class="heading">Etudiant</p>
            <a href="https://imt-nord-europe.fr/" target="_blank" class="title has-text-white">IMT Nord Europe</a>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Apprenti</p>
            <a href="https://www.leroymerlin.fr/" target="_blank" class="title has-text-white">Leroy Merlin</a>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Adresse</p>
            <p class="title has-text-white">Pont-à-Marcq</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Age</p>
            <p class="title has-text-white">20 ans</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Véhiculé</p>
            <p class="title has-text-white">Oui</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <footer class="card-footer">
    <a href="assets/cv.pdf" target="_blank" class="card-footer-item has-text-white has-text-weight-bold">Télécharger mon CV</a>
  </footer>
</div>
