$primary: #579BB1;
$secondary: #E1D7C6;
$tertiary: #ECE8DD;
$quaternary: #F8F4EA;

@font-face {
  font-family: 'Ubuntu';
  src: url("~src/assets/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: 'Oswald';
  src: url("~src/assets/Oswald-Regular.ttf");
}
