<section id="chronologie" class="section">
  <h1 class="title">Chronologie</h1>
  <div class="timeline is-centered">
    <header class="timeline-header">
      <span class="tag is-medium is-info">2020</span>
    </header>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='graduation' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Juillet 2020</p>
        <p>Baccalauréat Scientifique (option I.S.N.) au <a href="https://marguerite-de-flandre-gondecourt.enthdf.fr/" target="_blank">Lycée Marguerite de Flandre</a></p>
      </div>
    </div>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='graduation' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Juillet 2020</p>
        <p>DUT Informatique à l'<a href="https://www.iut-a.univ-lille.fr/" target="_blank">IUT A de Lille </a><span class="has-text-grey text-small">(début)</span></p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-info">2021</span>
    </header>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='briefcase' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Décembre 2021</p>
        <p>Job étudiant à <a>LIDL </a><span class="has-text-grey text-small">(début)</span></p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-info">2022</span>
    </header>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='briefcase' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Mars 2022</p>
        <p>Job étudiant à LIDL <span class="has-text-grey text-small">(fin)</span></p>
      </div>
    </div>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='building' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Avril 2022</p>
        <p>Stage de développement fullstack à <a href="https://www.norsys.fr/" target="_blank">norsys </a><span class="has-text-grey text-small">(début)</span></p>
      </div>
    </div>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='building' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Juin 2022</p>
        <p>Stage de développement fullstack à <a href="https://www.norsys.fr/" target="_blank">norsys </a><span class="has-text-grey text-small">(fin)</span></p>
      </div>
    </div>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='graduation' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Juillet 2022</p>
        <p>DUT Informatique à l'<a href="https://www.iut-a.univ-lille.fr/" target="_blank">IUT A de Lille </a><span class="has-text-grey text-small">(fin)</span></p>
      </div>
    </div>
    <div class="timeline-item is-info">
      <div class="timeline-marker is-info is-image is-32x32 is-flex is-justify-content-space-around is-align-items-center">
        <box-icon type='solid' size="20px" name='briefcase' color="white"></box-icon>
      </div>
      <div class="timeline-content">
        <p class="heading">Septembre 2022</p>
        <p>Début de mon alternance entre l'<a href="https://imt-nord-europe.fr/" target="_blank">IMT Nord Europe </a> et <a href="https://www.leroymerlin.fr/" target="_blank">Leroy Merlin </a></p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-medium is-info">Aujourd'hui</span>
    </header>
  </div>
</section>
